@use "./../abstracts/colors";

.bs-button {
  &.mdc-button {
    text-transform: uppercase;
    font-size: 14px;
    padding-block: 1.2rem;
    border-width: 1px;
    border-style: solid;
  }

  &_primary {
    &.mat-mdc-unelevated-button:not(:disabled) {
      background-color: colors.$base-blue;
      color: colors.$lighter-grey;
      border-color: colors.$base-blue;
    }
  }

  &_secondary {
    &.mat-mdc-unelevated-button:not(:disabled) {
      background-color: colors.$base-white;
      color: colors.$base-blue;
      border-color: colors.$base-blue;
    }
  }

  &_tertiary {
    &.mat-mdc-unelevated-button:not(:disabled) {
      color: colors.$base-blue;
      border-color: transparent;
    }
  }

  &_disabled {
    &.mat-mdc-unelevated-button[disabled] {
      border-color: colors.$light-grey;
    }
  }
}
