<app-stepper #bsCdkStepper linear>
    <!-- User details step -->
    <cdk-step [stepControl]="formUserDetails">
        <!-- Navigation items-->
        <ng-template cdkStepLabel>
            <div class="bs-stepper__left-content__top__steps__step-item__icon">
                <mat-icon>check_circle_outline</mat-icon>
            </div>
            <div class="bs-stepper__left-content__top__steps__step-item__content">
                <div class="bs-stepper__left-content__top__steps__step-item__content__title">Your details</div>
                <div class="bs-stepper__left-content__top__steps__step-item__content__subtitle">Please provide your
                    name
                    and email</div>
            </div>
        </ng-template>
        <!-- Header -->
        <div class="bs-right-content-top">
            <div class="bs-right-content-top__header">
                <div class="bs-header-icon">
                    <mat-icon>account_circle</mat-icon>
                </div>
                <h2 class="bs-header-title">Your details</h2>
                <div class="bs-header-subtitle">Please provide your name and
                    email.</div>
            </div>
        </div>
        <div class="bs-right-content-main">

            <div class="bs-right-content-main__sso" matRipple>
                <img src="./../../../assets/img/bs-ai-linkedin-icon.png">
                <div>Sign in with
                    LinkedIn</div>
            </div>
            <div class="bs-right-content-main__or-divider">
                <div class="bs-or-divider-left-line"></div>
                <div class="bs-or-divider-label">OR</div>
                <div class="bs-or-divider-right-line"></div>
            </div>

            <form [formGroup]="formUserDetails" class="bs-right-content-main__form">
                <div class="flex-col gap-2">
                    <mat-label class="bs-form-label">First name<span class="bs-required">*</span></mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="firstName" type="text" placeholder="Enter your first name">
                        <mat-error class="bs-error"
                            *ngIf="formUserDetails.controls['firstName'].invalid"><mat-icon>info</mat-icon>Enter your
                            first name</mat-error>
                    </mat-form-field>
                </div>
                <div class="flex-col gap-2">
                    <mat-label class="bs-form-label">Last name<span class="bs-required">*</span></mat-label>
                    <mat-form-field appearance="outline">

                        <input matInput formControlName="lastName" type="text" placeholder="Enter your last name">
                        <mat-error class="bs-error"
                            *ngIf="formUserDetails.controls['lastName'].invalid"><mat-icon>info</mat-icon>Enter your
                            last name</mat-error>
                    </mat-form-field>
                </div>
                <div class="flex-col gap-2">
                    <mat-label class="bs-form-label">Email<span class="bs-required">*</span></mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="email" type="text" placeholder="Enter your email">
                        <mat-error class="bs-error"
                            *ngIf="formUserDetails.controls['email'].invalid"><mat-icon>info</mat-icon>Check your
                            email</mat-error>
                    </mat-form-field>
                </div>
                <div class="bs-form-actions">
                    <button mat-flat-button type="button" class="bs-button bs-button_primary"
                        [ngClass]="{'bs-button_disabled':formUserDetails.invalid}" cdkStepperNext
                        [disabled]="formUserDetails.invalid">Next</button>
                </div>
            </form>
        </div>

        <div class="bs-content-nav">
            <div class="bs-content-nav__item bs-content-nav__item--selected"></div>
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item"></div>
        </div>

    </cdk-step>
    <!-- Password step -->
    <cdk-step [stepControl]="formPassword">
        <!-- Navigation items-->
        <ng-template cdkStepLabel>
            <div class="bs-steps-item__icon">
                <mat-icon>check_circle_outline</mat-icon>
            </div>
            <div class="bs-steps-item__content">
                <div class="bs-content-title">Choose a password</div>
                <div class="bs-content-subtitle">Must be at least 8
                    characters</div>
            </div>
        </ng-template>

        <!-- Header -->
        <div class="bs-right-content-top">
            <div class="bs-right-content-top__header">
                <div class="bs-header-icon">
                    <mat-icon>password</mat-icon>
                </div>
                <h2 class="bs-header-title">Choose a password</h2>
                <div class="bs-header-subtitle">Must be at least 8
                    characters.</div>
            </div>
        </div>

        <div class="bs-right-content-main">
            <form [formGroup]="formPassword" class="bs-right-content-main__form">
                <div class="flex-col gap-2">
                    <mat-label class="bs-form-label">Password<span class="bs-required">*</span></mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="password" [type]="passwordIsHidden ? 'password' : 'text'"
                            placeholder="Password">
                        <mat-icon matIconSuffix (click)="passwordIsHidden = !passwordIsHidden">{{passwordIsHidden ?
                            'visibility_off' :
                            'visibility'}}</mat-icon>
                        <mat-error class="bs-error"
                            *ngIf="formPassword.controls['password'].invalid"><mat-icon>info</mat-icon>Set the
                            password</mat-error>
                    </mat-form-field>
                </div>
                <div class="flex-col gap-2">
                    <mat-label class="bs-form-label">Confirm password<span class="bs-required">*</span></mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="confirmPassword"
                            [type]="confirmPasswordIsHidden ? 'password' : 'text'" placeholder="Confirm password">
                        <mat-icon matIconSuffix
                            (click)="confirmPasswordIsHidden = !confirmPasswordIsHidden">{{confirmPasswordIsHidden ?
                            'visibility_off' :
                            'visibility'}}</mat-icon>
                        <mat-error class="bs-error"
                            *ngIf="formPassword.controls['confirmPassword'].invalid"><mat-icon>info</mat-icon>Confirm
                            the password</mat-error>
                    </mat-form-field>
                </div>
                <div class="bs-form-actions">
                    <button mat-flat-button class="bs-button bs-button_primary"
                        [ngClass]="{'bs-button_disabled':formPassword.invalid}" cdkStepperNext
                        [disabled]="formPassword.invalid">Next</button>
                    <button mat-flat-button class="bs-button bs-button_secondary" cdkStepperPrevious>Back</button>
                    <button mat-flat-button class="bs-button bs-button_tertiary"
                        (click)="bsCdkStepper.reset()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="bs-content-nav">
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item bs-content-nav__item--selected"></div>
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item"></div>
        </div>
    </cdk-step>
    <!-- Payment step -->
    <cdk-step [stepControl]="formPayment">
        <!-- Navigation items-->
        <ng-template cdkStepLabel>
            <div class="bs-steps-item__icon">
                <mat-icon>check_circle_outline</mat-icon>
            </div>
            <div class="bs-steps-item__content">
                <div class="bs-content-title">Payment</div>
                <div class="bs-content-subtitle">Enter your payment
                    details.</div>
            </div>
        </ng-template>
        <!-- Header -->
        <div class="bs-right-content-top">
            <div class="bs-right-content-top__header">
                <div class="bs-header-icon">
                    <mat-icon>credit_card</mat-icon>
                </div>
                <h2 class="bs-header-title">Payment</h2>
                <div class="bs-header-subtitle">Enter your payment details.</div>
            </div>
        </div>
        <div class="bs-right-content-main">

            <form [formGroup]="formPayment" class="bs-right-content-main__form">
                <div class="flex-col gap-1">
                    <mat-label class="bs-form-label">Card number<span class="bs-required">*</span></mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="creditCardNumber" class="input" type="text"
                            placeholder="Card number">
                        <mat-error class="bs-error"
                            *ngIf="formPayment.controls['creditCardNumber'].invalid"><mat-icon>info</mat-icon>Check the
                            credit card number</mat-error>
                    </mat-form-field>
                </div>

                <div class="flex-col gap-1 bs-form-location-date-cvc">
                    <div class="flex-col flex-full gap-2">
                        <mat-label class="bs-form-label">Expiry date<span class="bs-required">*</span></mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="creditCardExpiryDate" class="input" type="text"
                                placeholder="MM / YY">
                            <mat-error class="bs-error"
                                *ngIf="formPayment.controls['creditCardExpiryDate'].invalid"><mat-icon>info</mat-icon>Check
                                the expiry date</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="flex-col flex-full gap-2">
                        <mat-label class="bs-form-label">CVC<span class="bs-required">*</span></mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="creditCardCvcCode" class="input" type="number"
                                placeholder="CVC">
                            <mat-error class="bs-error"
                                *ngIf="formPayment.controls['creditCardCvcCode'].invalid"><mat-icon>info</mat-icon>Check
                                the
                                cvc code</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex-col gap-2">
                    <mat-label class="bs-form-label">Street address<span class="bs-required">*</span></mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="street" type="text" placeholder="Street address">
                        <mat-error class="bs-error"
                            *ngIf="formPayment.controls['street'].invalid"><mat-icon>info</mat-icon>Enter the
                            address</mat-error>
                    </mat-form-field>
                </div>

                <div class="flex-col gap-1 bs-form-location">
                    <div class="flex-col flex-full gap-2">
                        <mat-label class="bs-form-label">Postal code<span class="bs-required">*</span></mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="postalCode" type="text" placeholder="Postal code">
                            <mat-error class="bs-error"
                                *ngIf="formPayment.controls['postalCode'].invalid"><mat-icon>info</mat-icon>Enter the
                                postal code</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex-col flex-full gap-2">
                        <mat-label class="bs-form-label">City / town / village<span
                                class="bs-required">*</span></mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="city" type="text" placeholder="City / town / village">
                            <mat-error class="bs-error"
                                *ngIf="formPayment.controls['city'].invalid"><mat-icon>info</mat-icon>Enter the
                                city</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex-col gap-2">
                    <mat-label class="bs-form-label">Country<span class="bs-required">*</span></mat-label>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="country" type="text" placeholder="Country">
                        <mat-error class="bs-error"
                            *ngIf="formPayment.controls['country'].invalid"><mat-icon>info</mat-icon>Enter the
                            country</mat-error>
                    </mat-form-field>
                </div>

                <div class="bs-form-actions">
                    <button mat-flat-button class="bs-button bs-button_primary"
                        [ngClass]="{'bs-button_disabled':formPayment.invalid}" cdkStepperNext
                        [disabled]="formPayment.invalid" (click)="onPreview()">Next</button>
                    <button mat-flat-button class="bs-button bs-button_secondary" cdkStepperPrevious>Back</button>
                    <button mat-flat-button class="bs-button bs-button_tertiary"
                        (click)="bsCdkStepper.reset()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="bs-content-nav">
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item bs-content-nav__item--selected"></div>
            <div class="bs-content-nav__item"></div>
        </div>
    </cdk-step>
    <!-- Review step -->
    <cdk-step>
        <!-- Navigation items-->
        <ng-template cdkStepLabel>
            <div class="bs-steps-item__icon">
                <mat-icon>check_circle_outline</mat-icon>
            </div>
            <div class="bs-steps-item__content">
                <div class="bs-content-title">Review</div>
                <div class="bs-content-subtitle">Let’s make sure
                    everything’s right.</div>
            </div>
        </ng-template>
        <!-- Header -->
        <div class="bs-right-content-top">
            <div class="bs-right-content-top__header">
                <div class="bs-header-icon">
                    <mat-icon>article</mat-icon>
                </div>
                <h2 class="bs-header-title">Review</h2>
                <div class="bs-header-subtitle">Let’s make sure
                    everything’s right.</div>
            </div>
        </div>
        <div class="bs-right-content-main">
            <div class="bs-right-content-main__review">

                <div class="bs-review-content">
                    <div class="bs-review-content__row">
                        <p class="bs-row-label">Username</p>
                        <p class="bs-row-value">{{ this.userDetails.username}}</p>
                    </div>

                    <div class="bs-review-content__row">
                        <p class="bs-row-label">Email</p>
                        <p class="bs-row-value">{{ this.userDetails.email}}</p>
                    </div>

                    <div class="bs-review-content__row">
                        <div class="flex">
                            <div class="flex-full">
                                <p class="bs-row-label">First name</p>
                                <p class="bs-row-value">{{ this.userDetails.firstName}}</p>
                            </div>
                            <div class="flex-full">
                                <p class="bs-row-label">Last name</p>
                                <p class="bs-row-value">{{ this.userDetails.lastName}}</p>
                            </div>
                        </div>
                        <div class="flex-full">
                            <p class="bs-row-label">Address</p>
                            <p class="bs-row-value">{{ this.userDetails.address?.street }}</p>
                            <p class="bs-row-value">{{ this.userDetails.address?.postalCode}} {{
                                this.userDetails.address?.city}}</p>
                            <p class="bs-row-value">{{ this.userDetails.address?.country}}</p>
                        </div>
                    </div>
                </div>
                <div class="bs-review-actions">
                    <button mat-flat-button class="bs-button bs-button_primary">Complete</button>
                    <button mat-flat-button class="bs-button bs-button_secondary" cdkStepperPrevious>Back</button>
                    <button mat-flat-button class="bs-button bs-button_tertiary"
                        (click)="bsCdkStepper.reset()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="bs-content-nav">
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item"></div>
            <div class="bs-content-nav__item bs-content-nav__item--selected"></div>
        </div>
    </cdk-step>
</app-stepper>