.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 500px;
    margin-inline: auto;
    padding: 20px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
  }
}
