.navigation {
  margin-block-end: 2rem;
  &__title {
    color: rgb(5, 5, 5);
  }
}

.navigation:hover {
  cursor: pointer;
}

.bs-error {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding-block: 0.3rem;
  font-size: 14px;
}
