<form>
    <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput type="text" placeholder="Enter your first name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput type="text" placeholder="Enter your last name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Enter your email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" placeholder="Confirm password">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Card number</mat-label>
        <input matInput type="text" placeholder="Card number">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Expiry date</mat-label>
        <input matInput type="text" placeholder="MM / YY">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>CVC</mat-label>
        <input matInput type="number" placeholder="CVC">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Street address</mat-label>
        <input matInput type="text" placeholder="Street address">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Postal code</mat-label>
        <input matInput type="text" placeholder="Postal code">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>City / town / village</mat-label>
        <input matInput type="text" placeholder="City / town / village">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input matInput type="text" placeholder="Country">
    </mat-form-field>
    <button mat-flat-button color="primary">Send</button>
</form>