.flex-full {
  flex: 1 1 100%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.gap-3 {
  gap: 1.5rem;
}

.gap-4 {
  gap: 2rem;
}

.bs-form-label {
  font-weight: 500;
  color: #01213c;

  .bs-required {
    margin-left: 3px;
  }
}

.bs-input-form-icon {
  &.mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}
