// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Import
@use "abstracts/utils" as *;
@use "components/buttons" as *;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$BoltShareAI-SignUp-primary: mat.define-palette(mat.$indigo-palette);
$BoltShareAI-SignUp-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$BoltShareAI-SignUp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BoltShareAI-SignUp-theme: mat.define-light-theme(
  (
    color: (
      primary: $BoltShareAI-SignUp-primary,
      accent: $BoltShareAI-SignUp-accent,
      warn: $BoltShareAI-SignUp-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($BoltShareAI-SignUp-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bs-page-layout {
  display: flex;
  height: 100%;

  .bs-stepper {
    display: flex;
    flex: 1 1 100%;
    height: 100%;

    &__left-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
      height: 100%;
      max-width: 600px;
      background-color: #013e73;
      color: #fff;
      padding-inline: 2rem;

      .bs-left-content-top {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        &__company {
          display: flex;
          align-items: center;
          gap: 1rem;
          .bs-company-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #fff;
          }
          .bs-company-name {
            font-size: 30px;
          }
        }

        &__steps {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          margin-top: 6rem;
          .bs-steps-item {
            display: flex;
            gap: 0.5rem;
            /*
            &__icon {
            }*/

            &__content {
              /*.bs-content-title {
              }*/
              &__subtitle {
                font-weight: 300;
              }
            }
          }

          :hover {
            cursor: pointer;
          }

          &-inactive {
            color: #a6a6a6;
          }
        }
      }

      .bs-left-content-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        font-weight: 300;

        /*
        &__copyright {
        }*/

        &__help {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }
      }
    }

    &__right-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      height: 100%;
      padding-inline: 2rem;
      background-color: #ffffff;
      overflow: scroll;

      .bs-right-content-top {
        margin-top: 1rem;
        &__header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-inline: auto;
          max-width: 500px;

          .bs-header-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            color: #01213c;
            background: #f3f3f3;
            border-radius: 0.5rem;
          }

          .bs-header-title {
            color: #01213c;
          }

          .bs-header-subtitle {
            color: #858585;
          }
        }
      }

      .bs-right-content-main {
        width: 100%;
        padding-block-end: 2rem;

        &__sso,
        &__or-divider,
        &__form,
        &__review {
          max-width: 500px;
          margin-inline: auto;
        }

        &__sso {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          gap: 0.5rem;
          margin-block-start: 4rem;
          margin-block-end: 1rem;
          padding-block: 10px;
          border-radius: 6px;
          background-color: #f3f3f3;
          img {
            width: 32px;
          }

          div {
            color: #05537d;
            font-size: 22px;
            font-weight: 400;
          }
        }

        &__sso:hover {
          cursor: pointer;
        }

        &__or-divider {
          display: flex;
          align-items: center;
          margin-block-start: 1rem;

          .bs-or-divider-left-line {
            flex: 1 1 100%;
            height: 1px;
            background: #d0d0d0;
          }
          .bs-or-divider-right-line {
            flex: 1 1 100%;
            height: 1px;
            background: #d0d0d0;
          }
          .bs-or-divider-label {
            padding: 0.5rem;
            color: #01213c;
          }
        }

        &__form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-block-start: 4rem;

          .bs-form-actions {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
          }
        }
        &__review {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          margin-block-start: 4rem;

          .bs-review-content {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &__row {
              background-color: #f3f3f3;
              border-radius: 6px;
              padding-block: 0.5rem;
              padding-inline: 1rem;

              p {
                margin-block: 0.5rem;
              }

              .bs-row-label {
                color: #858585;
                font-weight: 300;
              }
              .bs-row-value {
                color: #01213c;
                font-weight: 300;
              }
            }
          }

          .bs-review-actions {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
          }
        }
      }
    }
  }
}
